# behat.yml
# Behat configuration file for Behat 3.0.0+.
# For more information on the configuration file behat.yml, please read http://behat.readthedocs.org/en/v3.0/
# For more information on YAML file format, please read http://en.wikipedia.org/wiki/YAML

default:
    autoload:
        '': %paths.base%/features/bootstrap
    # formatters:
    #     progress: ~
    extensions:
        Behat\WebApiExtension:
            base_url: http://localhost:8081
        Behat\RestTestingExtension:
    suites:
        default:
            paths: [ %paths.base%/features ] # Where Behat will look for your *.feature files.
            contexts:
                - Behat\WebApiExtension\Context\WebApiContext
                - Behat\RestTestingExtension\Context\RestTestingContext
                - Behat\RestTestingContext\RestContext
                - SampleContext

# This 2nd profile is not a working copy (no features defined for it), and is just for demonstration purpose.
another_profile:
    autoload:
        '': %paths.base%/features/bootstrap
    extensions:
        Behat\WebApiExtension:
            base_url: http://localhost:8081
    suites:
        other_features:
            paths:
                - %paths.base%/features
            contexts: [ 'Behat\WebApiExtension\Context\WebApiContext', 'SampleContext' ]
